<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('product.list') }}">製品一覧</a></li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="{{ url_for('product.add') }}">新規製品追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>製品名</th>
                <th>価格</th>
                <th>&nbsp;</th> </tr>
        </thead>
        <tbody>
            {% for product in items %}
            <tr>
                <td><a href="{{ url_for('product.edit', product_id=product.id) }}">編集</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form 
                        action="{{ url_for('product.delete', product_id=product.id) }}" 
                        method="post" 
                        style="display:inline;" 
                        onsubmit="return confirm('製品「{{ product.name }}」を削除してもよろしいですか？');"
                    >
                        <button type="submit" style="color: red; background: none; border: none; cursor: pointer;">削除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>